$sage-green: #9BA17B;
$gold: #a37e2c;
$dark-gold: darken($gold, 20%);
$transparent-white: rgba(white, 0.5);
$translucent-white: rgba(white, 0.8);
$less-translucent-white: rgba(white, 0.9);


$primary-background: $sage-green;
$title-color: $gold;
$transparent-white-background: $transparent-white;
$translucent-white-background: $translucent-white;
$less-translucent-white-background: $less-translucent-white;
