$sage-green: #9BA17B;
$gold: #a37e2c;
$transparent-white: rgba(white, 0.5);
$translucent-white: rgba(white, 0.8);


$primary-background: $sage-green;
$title-color: $gold;
$transparent-white-background: $transparent-white;
$translucent-white-background: $translucent-white;
