$base-font-size: 16px;


@mixin cursive {
  font-family: 'Dawning of a New Day', cursive;
}

@mixin handwritten {
  font-family: 'Amatic SC', cursive;
}
@mixin body {
  font-family: 'Kalam', cursive;
  font-weight: 300;
}
