html {
  font-size: $base-font-size;

  @media screen and (max-width: 425px){
    font-size: $base-font-size * 0.8;
  }
  //@media screen and (max-width: 375px){
  //  font-size: $base-font-size * 0.7;
  //}
}

body {
  @include body();
  background: $primary-background;
}

a {
  text-decoration: none;
  color: $gold;

  &:hover {
    color: $dark-gold;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include cursive();
}

input, button {

  &:focus {
    outline: none;
  }
}

input[type="text"] {
  border: none;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: inset 20px 20px 60px #d9d9d9,
  inset -20px -20px 60px #ffffff;
  padding: 0.4rem;
  font-family: "Amatic SC", cursive;

  &:focus {
    outline: none;
    background: $sage-green;
  }
}

button {
  cursor: pointer;
  transition: background ease-in-out 0.2s;
  border-radius: 4px;

  &:hover {
    background: $sage-green;
  }
}
.formulate-input .formulate-input-label {
  font-family: "Amatic SC", cursive !important;
}
