/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


html {
  font-size: $base-font-size;

  @media screen and (max-width: 425px){
    font-size: $base-font-size * 0.8;
  }
  @media screen and (max-width: 375px){
    font-size: $base-font-size * 0.7;
  }
}

body {
  @include body();
  background: $primary-background;
}

a {
  text-decoration: none;
  color: $gold;

  &:hover {
    color: $dark-gold;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include cursive();
}

input, button {

  &:focus {
    outline: none;
  }
}

//input[type="text"] {
//  border: none;
//  border-radius: 2px;
//  background: #ffffff;
//  box-shadow: inset 20px 20px 60px #d9d9d9,
//  inset -20px -20px 60px #ffffff;
//  padding: 0.4rem;
//  font-family: "Amatic SC", cursive;
//
//  &:focus {
//    outline: none;
//    background: $sage-green;
//  }
//}

button {
  cursor: pointer;
  transition: background ease-in-out 0.2s;
  border-radius: 4px;

  &:hover {
    background: $sage-green;
  }
}
.formulate-input .formulate-input-label {
  font-family: "Amatic SC", cursive !important;
}
